@keyframes gauge-compass-animation {
  0% {
    transform: rotate(-20deg);
  }

  1% {
    transform: rotate(-40deg);
  }

  10% {
    transform: rotate(705deg);
  }

  22% {
    transform: rotate(709deg);
  }

  40% {
    transform: rotate(700deg);
  }

  82% {
    transform: rotate(712deg);
  }

  100% {
    transform: rotate(705deg);
  }
}
@keyframes gauge-reticle-animation {
  0% {
    top: 0;
    left: 0;
  }

  15% {
    top: -15%;
    left: 8%;
  }

  30% {
    top: -25%;
    left: 25%;
  }

  43% {
    top: 17%;
    left: 20%;
  }

  55% {
    top: 13%;
    left: -17%;
  }

  65% {
    top: 0;
    left: 0;
  }

  85% {
    top: 0;
    left: 0;
  }
}
@keyframes gauge-quality-animation {
  0% {
    transform: rotate(18.2deg);
  }

  4% {
    transform: rotate(16.5deg);
  }

  23% {
    transform: rotate(18.7deg);
  }

  46% {
    transform: rotate(17.2deg);
  }

  68% {
    transform: rotate(18.2deg);
  }

  77% {
    transform: rotate(16.3deg);
  }

  81% {
    transform: rotate(20.4deg);
  }

  100% {
    transform: rotate(17.8deg);
  }
}
@keyframes gauge-barometer-fog-animation {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.85;
  }

  50% {
    opacity: 0.45;
  }

  75% {
    opacity: 0.62;
  }

  100% {
    opacity: 0;
  }
}
@keyframes gauge-barometer-needle-animation {
  0% {
    transform: rotate(-80deg);
  }

  22% {
    transform: rotate(-50deg);
  }

  52% {
    transform: rotate(-88deg);
  }

  100% {
    transform: rotate(-110deg);
  }
}
@keyframes gauge-barometer-raindrop-appear {
  0% {
    opacity: 0;
    transform: scale(2.5, 2.3);
  }

  1% {
    opacity: 1;
    transform: scale(1, 1);
  }

  80% {
    opacity: 1;
    transform: scale(1, 1);
  }

  100% {
    opacity: 0;
    transform: scale(1, 1);
  }
}
@keyframes gauge-barometer-raindrop-drip {
  0% {
    margin-top: 0;
  }

  63% {
    margin-top: 0;
  }

  70% {
    margin-top: 100%;
  }

  100% {
    margin-top: 100%;
  }
}
