@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
$air-header-height: 60px;
$air-hero-image-path: '../air-hero-images';
$air-hero-header-text-color: #ffffff;

// BIG COMMERCE
$screen-large:                  1261px; // 1
$screen-medium:                 801px;
$screen-small:                  551px;


header {
  background-color: tomato;
  position: fixed;
  height: $air-header-height;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
}

body,
html {
  height: 100%;
}

* {
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 13px;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
  font-size: 4rem;
  display: inline-block;
  padding: 2rem;
}

.hidden { display: none }

/****************************************************************************/
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}
/****************************************************************************/
body {
  padding-top: $air-header-height;
}

main.hero-test { }

.hero-tween {
  position: relative;
  font-size: 0;
  text-align: center;
  width: 100%;
  background-image: none;

  .full-height {
    min-height: calc(100vh - #{$air-header-height});
  }

  .top-panel {
      position: absolute;
      z-index: 3;
      color: $air-hero-header-text-color;
      width: 40%;
      margin-left: 60%;

      h1 {
        display: block;
        padding: 0 4rem;
        margin: 0 4rem;
        text-align: left;
        font-style: italic;
        font-weight: 700;

        &.highlight {
          background-color: #3e3769;
        }
      }
  }

  .panel {
    // margin-top: $air-header-height;
    @extend .full-height;
    width: 100%;
    position: absolute;
    font-size: 1rem;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAUCAQAAADmB58qAAAAEElEQVR4AWNkYMCH/kvhQQCr0QsPghEiZgAAAABJRU5ErkJggg==");

    &.hero-blueprint,
    &.hero-photo {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &.hero-photo {
      background-image: url("#{$air-hero-image-path}/hero-1.jpg");
      color: $air-hero-header-text-color;
    }

    &.hero-blueprint {
      background-image: url("#{$air-hero-image-path}/hero-2.svg");
    }
  }
}
/*
colors
*/
.red {
  background-color: tomato;
}

.blue {
  background-color: #3883d8;
}

.turqoise {
  background-color: #38ced7;
}

.green {
  background-color: lightgreen;
}

.orange {
  background-color: peachpuff;
}
