@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
$gauge-image-path: '../images/';
$gauge-color-light: #fff;
$gauge-color-dark: #000;
$gauge-base-font-size: 10px;
$header-height: 60px;

header {
  background-color: tomato;
  position: fixed;
  height: $header-height;
  top: 0;
  width: 100%;
  z-index: 1;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 13px;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}
/****************************************************************************/
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}
/****************************************************************************/
h1 {
  font-weight: 700;
  font-size: 4rem;
  display: block;
  background-color: tomato;
  margin: 0;
  padding: 2rem;
}

.hero-wrapper {
  height: 100%;

  .demo {
    font-size: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    background-image: none;

    &.fullheight {
      min-height: 100%;
    }

    #pinContainer {
      width: 100%;
      height: 100%;
      overflow: hidden;

      .panel {
        height: 100%;
        width: 100%;
        position: absolute;
        font-size: 2rem;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAUCAQAAADmB58qAAAAEElEQVR4AWNkYMCH/kvhQQCr0QsPghEiZgAAAABJRU5ErkJggg==");

        &.green {
          background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAABCAQAAAB0m0auAAAAD0lEQVR4AWNiwAr+S6FDAGJbCeRuXz8RAAAAAElFTkSuQmCC");
        }

        &.turqoise {
          background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAABCAQAAAB0m0auAAAAD0lEQVR4AWNiwAr+S6FDAGJbCeRuXz8RAAAAAElFTkSuQmCC");
        }

        > b {
          color: white;
          position: relative;
          display: block;
          height: 0;
          overflow: visible;
          top: 50%;
        }
      }
    }
  }
}
/*
colors
*/
.blue {
  background-color: #3883d8;
}

.turqoise {
  background-color: #38ced7;
}

.bordeaux {
  background-color: #953543;
}

.green {
  background-color: #22d659;
}

.orange {
  background-color: #ea6300;
}
