@mixin gaugeImg($img) {
  background-image: url($gauge-image-path + $img);
}

@mixin raindrop($i, $height, $top, $left, $bgx, $bgy, $adelay, $shadowblur) {
  $width: $height * 0.85;

  .raindrop-#{$i} {
    margin-top: 0;
    position: absolute;
    top: $top;
    left: $left;
    animation: {
      name: gauge-barometer-raindrop-drip;
      delay: $adelay;
      duration: 8s;
      timing-function: easein;
      iteration-count: infinite;
    }

    .border, .raindrop {
      position: absolute;
      opacity: 0;
      animation: {
        name: gauge-barometer-raindrop-appear;
        delay: $adelay;
        duration: 8s;
        timing-function: cubic-bezier(1,0,1,1);
        iteration-count: infinite;
      }
    }

    .border {
      height: $height;
      width: $width * 0.6;
      border-radius: 100%;
      box-shadow: 0 0 0 $shadowblur $gauge-color-dark;
    }

    .raindrop {
      margin: {
        left: -2px;
        top: -1px;
      }
      border-radius: 100%;
      height: $height;
      width: $width;
      background: {
        position: $bgx $bgy;
        color: $gauge-color-dark;
        image: url($gauge-image-path + 'gauge-barometer-raindrop.png');
        size: 1000%;
      }
    }
  }
}
